@media (min-width: 320px) and (max-width: 768px) {
    .login .layout-positioner {
        padding: 0 1.5%;
        width: auto;
    }

    .login h1 {
        font-size: 2em;
        text-align: left;
    }
}